<p-panel class="ae-panel-h-full">
  <ng-template pTemplate="header">
    <div class="ae-header"></div>
  </ng-template>
  <ng-template pTemplate="icons">
    <button pButton class="p-panel-header-icon p-link" (click)="submit(false)">
      <span class="ae-icon-save"></span>
    </button>
    <button pButton class="p-panel-header-icon p-link" (click)="submit(true)">
      <span class="ae-icon-ok"></span>
    </button>
    <button pButton class="p-panel-header-icon p-link" (click)="toView()">
      <span class="ae-icon-close"></span>
    </button>
  </ng-template>
  <ng-template pTemplate="content">
    <form class="grid h-full" [formGroup]="baseDataForm">
      <div class="col">
        <div class="flex flex-column h-full">
          <div class="p-float-label mt-4">
            <input class="w-full" id="code-input" type="text" pInputText formControlName="code">
            <label for="code-input">{{'details.code' | i18next }}</label>
          </div>
          <div class="p-float-label mt-4">
          <textarea id="name-input" rows="5" class="ae-textarea-fixed-w-max" pInputTextarea
                    formControlName="name"></textarea>
            <label for="name-input">{{'details.name' | i18next }}</label>
          </div>
          <div class="p-float-label mt-4 flex-auto ">
            <textarea class="ae-textarea-fixed-w-max h-full" id="official-name-input" pInputTextarea
                      formControlName="officialName"></textarea>
            <label for="official-name-input">{{'officialName' | i18next }}</label>
          </div>
        </div>
      </div>
      <p-divider layout="vertical"></p-divider>
      <div class="col">
        <div class="flex flex-column h-full">
          <div class="p-float-label mt-4 flex-auto">
          <textarea class="ae-textarea-fixed-w-max h-full" id="description-name-input"
                    pInputTextarea formControlName="description"></textarea>
            <label for="description-name-input">{{'common:description' | i18next }}</label>
          </div>
        </div>
      </div>
    </form>
  </ng-template>
</p-panel>


