//@import "node_modules/primeflex/primeflex.css";

.ae-header {
  font-size: 1.125rem !important;
  font-weight: 600 !important;
}

.ae-text {
  font-size: 0.875rem !important;
}

.ae-text-important {
  font-size: 0.875rem !important;
  font-weight: 600 !important;
}
