<div class="w-full">
  <p-panel>
    <ng-template pTemplate="icons">
      <button pButton class="p-panel-header-icon p-link" (click)="submit(false)" [title]="'buttons.save' | i18next">
        <span class="ae-icon-save"></span>
      </button>
      <button pButton class="p-panel-header-icon p-link" (click)="submit(true)" [title]="'buttons.ok' | i18next">
        <span class="ae-icon-ok"></span>
      </button>
      <button pButton class="p-panel-header-icon p-link" (click)="toView()" [title]="'buttons.cancel' | i18next">
        <span class="ae-icon-close"></span>
      </button>
    </ng-template>
    <form class="grid h-full" [formGroup]="baseDataForm">
      <div class="col">
        <div class="flex flex-column h-full">
          <div class="p-float-label mt-4">
            <textarea id="name-input" rows="5" class="ae-textarea-fixed-w-max" pInputTextarea
                      formControlName="name"></textarea>
            <label for="name-input">{{'name' | i18next}}</label>
          </div>
        </div>
      </div>
      <p-divider layout="vertical"></p-divider>
      <div class="col">
        <div class="flex flex-column h-full">
          <div class="p-float-label mt-4 flex-auto">
          <textarea class="ae-textarea-fixed-w-max h-full" id="description-name-input"
                    pInputTextarea formControlName="description"></textarea>
            <label for="description-name-input">{{'description' | i18next}}</label>
          </div>
        </div>
      </div>
    </form>
  </p-panel>
</div>

