<p-card styleClass="ae-card-p0">
  <ng-template pTemplate="content">
    <div class="ae-header">{{studyOrderTemplate.code}}</div>
    <div class="ae-header my-2">{{studyOrderTemplate.name}}</div>
    <div class="ae-text my-2">{{studyOrderTemplate.description}}</div>
    <div class="flex w-full justify-content-between">
      <div class="ae-text-important">{{studyOrderTemplate.status}}</div>
      <div class="ae-text-important">Ревизия: {{studyOrderTemplate.revision}}</div>
    </div>
  </ng-template>
</p-card>
